soap/alloc.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>
<definitions name='allocPSA'
  targetNamespace='http://allocpsa.com/allocPSA'
  xmlns:tns='http://allocpsa.com/allocPSA'
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
  xmlns='http://schemas.xmlsoap.org/wsdl/'>



<!-- FIELDS -->

<message name='authIn'>
  <part name='username' type='xsd:string'/>
  <part name='password' type='xsd:string'/>
</message>
<message name='authOut'>
  <part name='sessKey' type='xsd:string'/>
</message>

<message name='gtcIn'>
  <part name='sessKey' type='xsd:string'/>
  <part name='taskID' type='xsd:string'/>
</message>
<message name='gtcOut'>
  <part name='comments' type='xsd:array'/>
</message>


<message name='atsibtIn'>
  <part name='sessKey' type='xsd:string'/>
  <part name='taskID' type='xsd:string'/>
  <part name='duration' type='xsd:string'/>
  <part name='comments' type='xsd:string'/>
</message>
<message name='atsibtOut'>
  <part name='timeSheetID' type='xsd:string'/>
</message>


<message name='gttIn'>
  <part name='sessKey' type='xsd:string'/>
  <part name='tfName' type='xsd:string'/>
  <part name='startDate' type='xsd:string'/>
  <part name='endDate' type='xsd:string'/>
</message>
<message name='gttOut'>
  <part name='transactions' type='xsd:array'/>
</message>


<!-- PORT TYPES -->

<portType name='allocPortType'>

  <operation name='authenticate'>
    <input message='tns:authIn'/>
    <output message='tns:authOut'/>
  </operation>

  <operation name='get_task_comments'>
    <input message='tns:gtcIn'/>
    <output message='tns:gtcOut'/>
  </operation>

  <operation name='add_timeSheetItem_by_task'>
    <input message='tns:atsibtIn'/>
    <output message='tns:atsibtOut'/>
  </operation>

  <operation name='get_tf_transactions'>
    <input message='tns:gttIn'/>
    <output message='tns:gttOut'/>
  </operation>
</portType>



<binding name='allocHandlerBinding' type='tns:allocPortType'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>

  <operation name='authenticate'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#authenticate'/>
    <input> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </input>
    <output> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </output>
  </operation>

  <operation name='get_task_comments'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#get_task_comments'/>
    <input> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </input>
    <output> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </output>
  </operation>

  <operation name='add_timeSheetItem_by_task'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#add_timeSheetItem_by_task'/>
    <input> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </input>
    <output> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </output>
  </operation>

  <operation name='get_tf_transactions'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#get_tf_transactions'/>
    <input> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </input>
    <output> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </output>
  </operation>

</binding>



<service name='allocService'>
  <port name='allocPort' binding='allocHandlerBinding'>
    <soap:address location='http://alloc_dev/soap/soapServer.php'/>
  </port>
</service>
</definitions>
