soap/alloc.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>
<definitions name='allocPSA'

  targetNamespace='http://example.org/allocPSA'
  xmlns:tns='http://example.org/allocPSA'
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
  xmlns='http://schemas.xmlsoap.org/wsdl/'>



<message name='AuthenticateRequest'>
  <part name='username' type='xsd:string'/>
  <part name='password' type='xsd:string'/>
</message>

<message name='AuthenticateResponse'>
  <part name='Result' type='xsd:array'/>
</message>


<message name="yesno">
  <part name='result' type='xsd:string'/>
</message>

<message name="request">
  <part name='one' type='xsd:string'/>
  <part name='two' type='xsd:string'/>
</message>

<message name="responseArray">
  <part name='responseArray' type='xsd:array'/>
</message>



<portType name='AuthenticatePortType'>

  <operation name='authenticate'>
    <input message='tns:AuthenticateRequest'/>
    <output message='tns:AuthenticateResponse'/>
  </operation>

  <operation name='check_auth'>
    <input message='tns:yesno'/>
    <output message='tns:yesno'/>
  </operation>

  <operation name='get_table_array'>
    <input message='tns:request'/>
    <output message='tns:responseArray'/>
  </operation>
  


</portType>



<binding name='StockQuoteBinding' type='tns:AuthenticatePortType'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>

  <operation name='authenticate'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#authenticate'/>
    <input> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </input>
    <output> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </output>
  </operation>

  <operation name='check_auth'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#check_auth'/>
    <input> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </input>
    <output> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </output>
  </operation>

  <operation name='get_table_array'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#get_table_array'/>
    <input> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </input>
    <output> <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> </output>
  </operation>

</binding>



<service name='StockQuoteService'>
  <port name='StockQuotePort' binding='StockQuoteBinding'>
    <soap:address location='http://mint/alloc_dev/soap/server.php'/>
  </port>
</service>
</definitions>

